.textButton {
  color: rgb(var(--theme-color));
  font-weight: bold;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: opacity .3s;
}

.textButton:active {
  opacity: .3;
  transition: none;
}