.PlayerLyrics {
  box-sizing: border-box;
  padding: .4rem;
  width: 100%;
  height: 100%;
  overflow: scroll;

  .lyric {
    font-size: 1.7rem;
    line-height: 1.5;
    font-weight: bold;
    filter: blur(1.3px);
    
    padding: .3rem 0;
  }
  
  .dot {
    font-weight: bold;
    margin: 0;
    padding: 0 .15rem;
    width: fit-content;
    overflow: hidden;
    
    display: flex;
    align-items: center;
  }
}

.PlayerLyricsDots {
  display: flex;

  .dots {
    background-color: #FFFC;
    border-radius: 50%;
    width: .8rem;
    height: .8rem;
    margin: .1rem;
  }
}