.PlayerLyrics {
  box-sizing: border-box;
  padding: .4rem;
  width: 100%;
  height: 100%;
  overflow: scroll;

  .lyric {
    font-size: 1.7rem;
    font-weight: bold;
    filter: blur(1.3px);
    
    margin-top: 1rem;
  }
  
  .dot {
    font-size: 1.7rem;
    height: 1.7rem;
    font-weight: bold;
    overflow: hidden;
    margin: 0;
  }
}