#search-wrapper {
  --tr-time: .4s;

  width: 100%;
  height: 100%;
}

#searchbar-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}

@keyframes searchContentShow {
  0% {
    opacity: 0;
    color: rgb(var(--ev-color));
  }

  33% {
    color: rgb(var(--ev-color));
  }
  
  66% {
    opacity: 1;
  }
  
  100% {
    color: rgb(var(--ev-fg-color));
    opacity: 1;
  }
}

@keyframes searchContentShow2 {
  0% {
    color: rgb(var(--ev-fg-color));
    opacity: 1;
  }
  
  100% {
    color: rgb(var(--ev-color));
    opacity: 0;
  }
}

#search-content-wrapper {
  position: absolute;
  top: 2.95rem;
  height: calc(100% - 2.95rem);
  overflow: scroll;
  /* overscroll-behavior: none; */

  background-color: rgb(var(--ev-color));
  color: rgb(var(--ev-color));
  opacity: 0;
  pointer-events: none;

  animation: searchContentShow2 var(--tr-time);
}

.isFocusing #search-content-wrapper {
  opacity: 1;
  color: rgb(var(--ev-fg-color));
  pointer-events: all;
  
  animation: searchContentShow calc(var(--tr-time) * 1.5);
}

#search-suggestion-content-wrapper {
  height: 100%;
  overflow: scroll;
}

#search-suggestion-content-wrapper::before {
  content: "";
  display: block;
  width: 100%;
  height: 4.7rem;
}