.searchBar {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: rgba(var(--ev-color), 0.65);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  transition: all var(--tr-time);
}

.isFocusing .searchBar {
  background-color: rgb(var(--ev-color));
}

.searchBar > h3 {
  height: 1.75rem;
  margin: 0.3rem;

  transition: height var(--tr-time) cubic-bezier(0.215, 0.610, 0.355, 1),
    opacity calc(var(--tr-time) / 2);
}

.isFocusing .searchBar > h3 {
  height: 0rem;
  opacity: 0;
}

.searchBar .searchBarInputWrapper {
  width: 95%;
  box-sizing: border-box;
  margin-bottom: .6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.searchBarInputBoxWrapper {
  width: 100%;
  /* height: 2rem; */
  flex-grow: 1;
  flex-shrink: 1;
}

.searchBarInputWrapper .textButton {
  display: block;
  white-space: nowrap;
  margin-left: 0;
  opacity: 0;
  max-width: 0;
  /* flex-basis: 0; */
  
  transition: all var(--tr-time);
}

.isFocusing .searchBarInputWrapper .textButton {
  margin-left: .5rem;
  max-width: 5rem;
  opacity: 1;
}

.searchBarInputWrapper .inputBox {
  transition: width var(--tr-time);
}